* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
article{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    width: 100%;
    padding-top: 20px;
    flex-direction: row;
    margin-left: 20px;
}
.book{
  background: #eee;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  height: auto;
}
.img{
  padding: 20px 0;
}
.book h1, h2, p{
  padding: 10px 20px;
  text-align: center;
}

